.wrapper{
    margin: auto;
    border-radius: 5px;
    max-width: 360px;
    border: 1px solid gray  ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
ul {
    list-style-type: none;
  }