.wrapper{
    margin: auto;
    border-radius: 5px;
    max-width: 360px;
    border: 1px solid gray  ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}